.git
__pycache__
*.pyc
.env
credential/
credentials/
.venv
venv
.DS_Store
*.egg-info
.pytest_cache
reports/
data/indexes/
data/raw/
data/processed/
models/
artifacts/
*.tar.gz
*.tgz
user-wNqCN8tVNspE
